{% extends 'base.html' %}
{% load static %}

{% block nav-about %}
<a class="active" href="#">about</a></li>
{% endblock %}

{% block content %}
<h2>About Patternlib</h2>

<p>Currently, patternlib is a website for sharing patterns made
with <a href="http://tidalcycles.org">TidalCycles</a> (also known as
Tidal) code. It may well expand to host other kinds of patterns in the
future.</p>

<p>Patternlib was made during a residency at
the <a href="http://culture.theodi.org">Open Data Institute</a> in
London, as part of the <a href="http://www.soundandmusic.org/">Sound
and Music</a> embedded programme. Warm thanks for the amazing support!
</p>

<p>Warm thanks also to David Ogborn, Mauro and all the contributors to
  TidalCycles for helping make this possible.</p>

<p>The source code for this side
is <a href="https://github.com/yaxu/patternlib">available on
github</a> under the GNU Public License v3.</p>

{% endblock %}
