{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'codemirror-5.22.0/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
<script src="{% static 'codemirror-5.22.0/lib/codemirror.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Add pattern</h2>

<script>
  var editor

  var updateHistory = function() {
    window.alert("updateHistory")
    $('#id_history')[0].value = "x"
    $('#id_code')[0].value = editor.getValue()
    return(false)
  }

  $(document).ready(function(){
    ta = $('textarea#livecode')[0]
    editor = CodeMirror.fromTextArea(ta, {
      lineNumbers: true,
      mode:  "text/x-haskell"
    })
  })
  
</script>

<form method="POST" class="post-form" onsubmit="updateHistory()" >{% csrf_token %}
  {{ form.media}}
  {{ form.as_p }}
  <textarea id="livecode">{{ parent.code }}</textarea>
  <button type="submit" class="save btn btn-default">Add</button>
</form>

</body>
</html>
{% endblock %}
