{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'codemirror-5.22.0/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'codemirror-5.22.0/lib/codemirror.js' %}"></script>

<link rel="stylesheet" href="/static/highlight/styles/default.css">
<script src="/static/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% endblock %}

{% block content %}
<pre class="patternblock">
<h3><strong>{{ pattern.name }}</strong> by <em><a href="{% url 'pattern_person' ident=pattern.author.ident %}">{{ pattern.author.ident }}</a></em></h3><code class="haskell">{{ pattern.code }}</code><table><tr><td>{% if pattern.status == 'live' %}<audio controls src="{% static pattern.audiourl %}">(sorry, your web browser does not support audio playback.)</audio>{% else %}rendering.
{% endif %}</td>
    <td>&nbsp;&nbsp;&nbsp;Click if you love this -&gt;&nbsp; </td>
    <td>{% if loves %}<form name="unlove" method="POST" action="{% url 'pattern_unlove' pk=pattern.pk %}">{% csrf_token %}<span onclick="unlove.submit()" style="font-size:2em">♥</span></form>{% else %}<form name="love" method="POST" action="{% url 'pattern_love' pk=pattern.pk %}">{% csrf_token %}<span onclick="love.submit()" style="font-size:2em">♡</span></form>{% endif %}</td></tr></table>{% if pattern.parent %}progression from: <em><a href="{% url 'pattern_detail' pk=pattern.parent.pk %}">{{pattern.parent.name}}</a></em><br />{% endif %}{% if pattern.pattern_set.count %}progressed into: {% for child in pattern.pattern_set.all %}<a href="{% url 'pattern_detail' pk=child.pk %}">{{ child }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}<a href="{% url 'pattern_progress' parent_pk=pattern.id %}">
make a new pattern</a> from this one
</pre>
{% endblock %}
