{% extends 'base.html' %}
{% load static %}

{% block nav-home %}
<a class="active" href="#">home</a></li>
{% endblock %}

{% block content %}
	    {% if latest %}
	    <h2>Latest patterns</h2>
	    
	    <ul class="patternlist">
	      {% for pattern in latest %}
	      <li>{% include "pattern/listitem.html" %}</li>
	      {% endfor %}
	    </ul>
	    {% endif %}
{% endblock %}

	    {% block sidebar %}Welcome!<br /><br />
              This website is in Beta. Please be careful.
            {% endblock %}
