{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Latest patterns</h2>

<ul class="patternlist">
{% for pattern in patterns %}
<li><a href="{% url 'pattern_detail' pk=pattern.pk %}"><strong>{{ pattern.name }}</strong></a> {{ pattern.author.ident }}<br />
  <a href="{% url 'pattern_detail' pk=pattern.pk %}"><img src="{% static pattern.audiourl %}.svg" /></li></a>
{% endfor %}
</ul>
{% if user.is_authenticated %}
<div><a href="{% url 'pattern_add' %}">add <span class="glyphicon glyphicon-plus"></span></a></div>
{% endif %}
{% endblock %}
