{% load static %}
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  
    <link rel="stylesheet" href="{% static 'css/pattern.css' %}">

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="headbox">
      <div id="loginbox">
    {% if user and not user.is_anonymous %}
      <a href="{% url 'pattern_person' user.username %}">{{ user.username }}</a>
      <br>
      <a href="/pattern/logout">Logout</a>
      {% else %}
      <table><tr><td valign="top">Login with: </td><td><a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Twitter</a><br />
	    <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}">Github</a><br />
      </td></tr></table>
      {% endif %}
      </div>
      <h1><a href="/">patternlib</a></h1>
    </div>
    <div id="navbox">
      <ul>
	<li>{% block nav-home %}<a href="{% url 'index' %}">home</a>{% endblock %}</li>
	{% if user.is_authenticated %}<li>{% block nav-add %}<a href="{% url 'pattern_add' %}">add</a>{% endblock %}</li>{% endif %}
	<li>{% block nav-help %}<a href="{% url 'pattern_help' %}">help</a>{% endblock %}</li>
	<li>{% block nav-about %}<a href="{% url 'pattern_about' %}">about</a>{% endblock %}</li>
    </div>
    <div id="mainbox" class="container-fluid">
      <div class="row">
	<div class="col-sm-8 no-gutter">
	  <div class="box">
	    {% block content %}
	    {% endblock %}
	  </div>
	</div>
	<div class="col-sm-4 no-gutter">
	  <div class="box side">
	    {% block sidebar %}
	    {% if latest %}
	    <h3>Latest patterns</h3>
	    
	    <ul class="patternlist">
	      {% for pattern in latest %}
	      <li>{% include "pattern/listitem.html" %}</li>
	      {% endfor %}
	    </ul>
	    {% endif %}
	    {% endblock %}
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
