body {
    font-family: 'Roboto Mono', monospace;
    padding: 1em;
}

#headbox {
    border: 1px solid black;
    padding: 1em;
    min-height: 3em;
}

#loginbox {
    float:right;
}

h1 {
    margin:0;
}

h2 {
    margin: 0 0 0.5em 0;
}

.patternblock h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 1.1em;
}

code {
    margin: 8px 0;
    padding: 0;
}

#mainbox {
    border: 1px solid white;
    padding-top: 1em;
    min-height: 3em;
}

.box {
    padding: 0em 1em;
}

.side {
    background: #eee;
}

.no-gutter {
   padding: 0 !important;
   margin: 0 !important;
}